[submodule "IoT"]
	path = IoT
	url = https://github.com/heesane/IoT.git
[submodule "Frontend"]
	path = Frontend
	url = https://github.com/heesane/Frontend.git
[submodule "LangStudy"]
	path = LangStudy
	url = https://github.com/heesane/LangStudy.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/heesane/Backend.git
