[submodule "IoT"]
	path = STUDY/IoT
	url = https://github.com/heesane/IoT.git

[submodule "Frontend"]
	path = STUDY/Frontend
	url = https://github.com/heesane/Frontend.git

[submodule "LangStudy"]
	path = STUDY/LangStudy
	url = https://github.com/heesane/LangStudy.git

[submodule "Backend"]
	path = STUDY/Backend
	url = https://github.com/heesane/Backend.git

[submodule "CodingTest"]
	path = STUDY/CodingTest
	url = https://github.com/heesane/CodingTest.git

[submodule "2023SVWitchsMind"]
	path = PROJECT/2023SVWitchsMind
	url = https://github.com/heesane/Witch-s-Mind.git

[submodule "2023GoodNightHackathon_Frontend"]
	path = GoodNightHackathon/GoodNightHackathon_Frontend
	url = https://github.com/heesane/Good-Night-2nd-Hackathon-Frontend.git

[submodule "2023GoodNightHackathon_Backend"]
	path = GoodNightHackathon/GoodNightHackathon_Backend
	url =https://github.com/heesane/Good-Night-2nd-Hackathon-Backend.git

[submodule "Docker"]
	path = Docker_Setting
	url = https://github.com/heesane/docker.git

[submodule "2023BrainWheel_Backend"]
	path = STUDY/BrainWheel/2023BrainWheel_Backend
	url =  https://github.com/2023Brainwheel/backend.git

[submodule "2023BrainWheel_Frontend"]
	path = STUDY/BrainWheel/2023BrainWheel_Frontend
	url = https://github.com/2023Brainwheel/frontend.git

[submodule "Unknown"]
	path = Unknown
	url = https://github.com/2023-Unknown/Unknown.git

[submodule "2023AquaMavericks_Backend"]
    path = PROJECT/AquaMavericks/2023AquaMavericks_Backend
	url =https://github.com/aqua-maverick/backend.git

[submodule "2023AquaMavericks_Frontend"]
	path = PROJECT/AquaMavericks/2023AquaMavericks_Frontend
	url =https://github.com/aqua-maverick/frontend.git
[submodule "Nodejs"]
	path = STUDY/Nodejs
	url = https://github.com/heesane/NodeJS_BE.git